<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checker Board</title>
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/style.css')}}">
    <style>
                .stripes:nth-child(odd){
            background-color:{{clr1}}
        }
        .stripes:nth-child(even){
            background-color:{{clr2}}
        }
        .stripes1:nth-child(even){
            background-color:{{clr1}}
        }
        .stripes1:nth-child(odd){
            background-color:{{clr2}}
        }
            </style>
</head>
<body>
    <div class="board">
    {% for i in range(y) %}
        {% for j in range(x) %}
            {% if i%2==0 and x%2==0 %}
                <div class="stripes" style="width:40px;height:40px;position:absolute;left:{{j*40}}px;top:{{i*40}}px"></div>
                {% else %}
                <div class="stripes1" style="width:40px;height:40px;position:absolute;left:{{j*40}}px;top:{{i*40}}px"></div>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </div>
</body>
</html>